!!!
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/watable/watable.css')
        script(src='/watable/jquery.watable.js')
        script(src='/watable/jquery-1.7.2.min.js')
    body
        block content